<a href="https://colab.research.google.com/github/ds4geo/ds4geo/blob/master/WS%202020%20Course%20Notes/Session%207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science for Geoscientists - Winter Semester 2020**
# **Session 7 - Data Exploration - 18th November 2020**

# Part 7.1 - Warm-up Excercise - *Workshop*
Calculate the average value of the data in the following csv file:

https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/unordered/s7_warmup.csv

In [5]:
import pandas as pd
import numpy as np
dat = pd.read_csv("https://raw.githubusercontent.com/ds4geo/ds4geo/master/data/unordered/s7_warmup.csv")

In [6]:
dat["data"].mean()
np.mean(dat["data"])

1.9995

# Part 7.2 - Weather Assignment Review - *Discussion*

* General comments
 * "monthyear", plotting and groupby
* Story highlights:
 * Anna - skiing
 * Christoph H - 35N vs 35S
 * Tanguy - setting stage (updated since original submission)
* Analysis/Visualisation highlights:
 * Thomas - temperature mean, std, range
 * Tim - Walter-Leith diagrams
 * Christoph D - temperature and precip overviews
 * Tanguy - date, wind, temp visualisations, and dry spell histograms

* Discussion about narative and story-telling - context and "what is it like to live in the cities"

* "How do I do that?" - major questions about how to do a certain analysis, visualisation, etc.

# Part 7.3 - Weather Assignment Part 2

Thank you and well done with your assignments from week 3 and the feedback you have given each other. There were many impressive analyses and good naratives, but all have room for improvement.

This assignment is to continue with your week 3 weather data analysis submissions. The general guidelines are as they were origionally, but additionally:
1. Expand your analysis by:
 * adding more cities
 and/or
 * adding additional analyses or visualisations
2. Focus on:
 * Creating an interesting and compelling story/narative with a clear introduction (hook), and conclusion at the end.
 * Creating clear and informative visualisations.
 * Creating a clear structure using text cells and headings.




**Submission**
* Submit the assignment here: https://github.com/ds4geo/ds4geo_ws2020/tree/master/Assignments/Session%207
* The **deadline** is 23:59 on 1st December 2020.
* This assignment comprises 10% of the assessment for the course. Marks are awarded for clear, effective and interesting data driven story telling.

Submitted notebooks will be available to the whole class.

# Part 7.4 - Interactive Data Exploration Excercise - *Discussion/Walkthrough*

We will explore the HydroLakes (https://www.hydrosheds.org/pages/hydrolakes) dataset containing information about 1.4 million lakes greater than 10 ha in size around the world.

Attribute data includes:
* Lake_name
* Country
* Continent
* Lake_type (1=natural, 2=dam, 3=natural with controls)
* Lake_area (in km2)
* Shore_len (length of shoreline in km)
* Shore_dev (measure of shape - 1=circle, higher = more non-circular, irregular or complex)
* Vol_total (lake volume in million cubic meters, 0.001 km3)
* Depth_avg (average lake depth in m)
* Dis_avg (average discharge through lake in cubic m/s)
* Res_time (average residence time in days)
* Elevation (meters above sea level)
* Slope_100 (average topographic slope in degrees in 100 m buffer of shoreline)
* Wshd_area (area of lake watershed in km2)
* Pour_lat, Pour_long (lat and long of lake pour point)
* Cent_lat, Cent_long (lat and long of lake centre point)

Students will suggest analyses and visualisations, and we will code line by line together to perform them.

## Part 7.4.1 - Loading the data
The data is contained in a series of csv files here:

https://github.com/ds4geo/ds4geo/tree/master/data/geospatial/HydroLakes

In [7]:
import pandas as pd

In [11]:
root = "https://github.com/ds4geo/ds4geo/blob/master/data/geospatial/HydroLakes/HydroLAKES_points_v10_chunk{}.csv?raw=true"

chunks = []
for i in range(29):
  d = pd.read_csv(root.format(i))
  chunks.append(d)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
chunks[5].head()

   Unnamed: 0  Hylak_id  Lake_name  ...   Pour_lat   Cent_lat   Cent_long
0      250000    250001        NaN  ...  69.750569  69.750569  -80.351042
1      250001    250002        NaN  ...  69.750703  69.750703  -75.996713
2      250002    250003        NaN  ...  69.750652  69.750652  -75.880877
3      250003    250004        NaN  ...  69.750294  69.750294 -155.682293
4      250004    250005        NaN  ...  69.750371  69.750371 -155.370011

[5 rows x 24 columns]

In [17]:
dat = pd.concat(chunks)

In [19]:
dat.head(15)

    Unnamed: 0  Hylak_id       Lake_name  ...   Pour_lat   Cent_lat   Cent_long
0            0         1     Caspian Sea  ...  45.591934  45.591934   47.717708
1            1         2      Great Bear  ...  65.138384  65.138384 -123.505546
2            2         3     Great Slave  ...  61.311727  61.311727 -117.617115
3            3         4        Winnipeg  ...  53.696359  53.696359  -97.863542
4            4         5        Superior  ...  46.468593  46.468593  -84.460547
5            5         6        Michigan  ...  45.822916  45.822916  -84.753910
6            6         7         Ontario  ...  44.480557  44.480557  -75.794246
7            7         8           Huron  ...  42.999403  42.999403  -82.422576
8            8         9            Erie  ...  42.904334  42.904334  -78.908084
9            9        10          Ladoga  ...  59.952780  59.952780   31.032851
10          10        11          Baikal  ...  52.234393  52.234393  104.321875
11          11        12        Balkhash  ...  46.385417  46.385417   74.602083
12          12        13  Large Aral Sea  ...  44.906250  44.906250   59.714583
13          13        14  Kara-Bogaz-Gol  ...  41.056625  41.056625   52.912913
14          14        15            Chad  ...  13.077083  13.077083   14.527083

[15 rows x 24 columns]

In [32]:
total_lake_area = dat["Lake_area"].sum() - dat.iloc[0]["Lake_area"] # minus Caspian sea
la_prop_earth = total_lake_area / 510100000
la_prop_land = total_lake_area / 148940000

print("% of lake area of total Earth's surface:", round(100 * la_prop_earth, 2),"%")
print("% of lake area of total land area:", round(100 * la_prop_land, 2),"%")

% of lake area of total Earth's surface: 0.5 %
% of lake area of total land area: 1.71 %

In [33]:
dat = dat.iloc[1:]
dat.head(10)

    Unnamed: 0  Hylak_id    Lake_name  ...   Pour_lat   Cent_lat   Cent_long
1            1         2   Great Bear  ...  65.138384  65.138384 -123.505546
2            2         3  Great Slave  ...  61.311727  61.311727 -117.617115
3            3         4     Winnipeg  ...  53.696359  53.696359  -97.863542
4            4         5     Superior  ...  46.468593  46.468593  -84.460547
5            5         6     Michigan  ...  45.822916  45.822916  -84.753910
6            6         7      Ontario  ...  44.480557  44.480557  -75.794246
7            7         8        Huron  ...  42.999403  42.999403  -82.422576
8            8         9         Erie  ...  42.904334  42.904334  -78.908084
9            9        10       Ladoga  ...  59.952780  59.952780   31.032851
10          10        11       Baikal  ...  52.234393  52.234393  104.321875

[10 rows x 24 columns]

In [ ]:
# Deepest lake
# Anna
dat["Depth_avg"].max()

# Jana
print("Jana:", dat.loc[dat["Lake_name"] == "Huron"])

# Tanguy
print("Tanguy:", dat.where(dat['Depth_avg'] == dat["Depth_avg"].max()).dropna())

In [42]:
# Thomas
dat.sort_values("Depth_avg", ascending = False, inplace=True)
dat.head(10)

       Unnamed: 0  Hylak_id     Lake_name  ...   Pour_lat   Cent_lat   Cent_long
10             10        11        Baikal  ...  52.234393  52.234393  104.321875
16             16        17    Tanganyika  ...  -5.911180  -5.911180   29.185417
38734     1088734   1088735           NaN  ...  -7.894196  -7.894196  -35.340625
24802     1074802   1074803           NaN  ...   9.687036   9.687036  -69.507970
21213     1421213   1421214           NaN  ... -28.573036 -28.573036   29.807088
10596     1060596   1060597           NaN  ...  35.231700  35.231700 -119.291082
10372       10372     10373           NaN  ... -25.457823 -25.457823  -54.631688
86             86        87  Buenos Aires  ... -46.839729 -46.839729  -72.801544
24661     1074661   1074662           NaN  ...  10.105095  10.105095  -65.980208
15341      115341    115342           NaN  ...  19.464198  19.464198  -71.081190

[10 rows x 24 columns]

In [ ]:
# create dataframe of lakes greater than 1000 ha

## Part 7.4.2 - Simple overviews and statistics

In [ ]:
# ideas:
'''
- total area, compared to land area and global surface area
- total volume, compared to something?
- top lakes by area, depth, other stats?
- etc.
'''

## Part 7.4.3 - Advanced analyses and visualisations

In [ ]:
# ideas:
'''
- where is the water surface concentrated?
- where are the shorelines concentrated?
- where is the water volume concentrated?

- relationships between parameters: depth, area, shoreline, residence time, location, etc.

'''