<a href="https://colab.research.google.com/github/ds4geo/ds4geo/blob/master/WS%202020%20Course%20Notes/Session%2010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Session 10

Scientific computing and collaboration

http://yo-yehudi.com/2020/09/14/on-preparing-your-code-for-publication.html

In [ ]:
import pandas as pd

In [ ]:
pd.read_json("/content/sample_data/anscombe.json")

   Series   X      Y
0       I  10   8.04
1       I   8   6.95
2       I  13   7.58
3       I   9   8.81
4       I  11   8.33
5       I  14   9.96
6       I   6   7.24
7       I   4   4.26
8       I  12  10.84
9       I   7   4.81
10      I   5   5.68
11     II  10   9.14
12     II   8   8.14
13     II  13   8.74
14     II   9   8.77
15     II  11   9.26
16     II  14   8.10
17     II   6   6.13
18     II   4   3.10
19     II  12   9.13
20     II   7   7.26
21     II   5   4.74
22    III  10   7.46
23    III   8   6.77
24    III  13  12.74
25    III   9   7.11
26    III  11   7.81
27    III  14   8.84
28    III   6   6.08
29    III   4   5.39
30    III  12   8.15
31    III   7   6.42
32    III   5   5.73
33     IV   8   6.58
34     IV   8   5.76
35     IV   8   7.71
36     IV   8   8.84
37     IV   8   8.47
38     IV   8   7.04
39     IV   8   5.25
40     IV  19  12.50
41     IV   8   5.56
42     IV   8   7.91
43     IV   8   6.89

In [ ]:
model = K.Sequential(
    [K.layers.Dense(64, activation="relu", name="layer1", kernel_initializer='glorot_uniform'),
     K.layers.Dense(64, activation="relu", name="layer2", kernel_initializer='glorot_uniform'),
     K.layers.Dense(64, activation="relu", name="layer3", kernel_initializer='glorot_uniform'),
     K.layers.Dense(14, activation="softmax", name="layerout", kernel_initializer='glorot_uniform')
    ])
opt = K.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=opt, loss=K.losses.SparseCategoricalCrossentropy(from_logits=False), metrics="accuracy")

In [ ]:
model.fit(xt, yt, epochs=200, batch_size=600, validation_data=(xv,yv))